
*{
 /*border: solid 1px red !important;*/
    /*padding: 0 !important;*/
}

.skewer {
    overflow: hidden;
    position: relative;
    width: 40vh; height: 27vh;
    /*margin: 100px;*/
}

.topleftSkew, .topleftSkew img {
    width: 100%;
    height: 100%;
}

.topleftSkew, .topleftSkew img {
    width: 100%;
    height: 100%;
}

.topleftSkew {
    overflow: hidden;
    position: absolute;
    transform: skewX(55.98deg);
}

.topleftSkew:first-child {
    left: 1.1vh;
    transform-origin: 1vh 0;
}

.topleftSkew:last-child {
    right: 0.6vh;
    transform-origin: 0 26vh;
}
.topleftSkew img {
    transform: skewX(-55.98deg);
    transform-origin: inherit;
}




.toprightSkew, .toprightSkew img {
    width: 100%;
    height: 100%;
}

.toprightSkew, .toprightSkew img {
    width: 100%;
    height: 100%;
}

.toprightSkew {
    overflow: hidden;
    position: absolute;
    transform: skewX(-55.98deg);
}

.toprightSkew:first-child {
    left: 0vh;
    transform-origin: 1vh 0;
}

.toprightSkew:last-child {
    right: -1.7vh;
    transform-origin: 0 26vh;
}
.toprightSkew img {
    transform: skewX(55.98deg);
    transform-origin: inherit;
}
